.population-age-group .current-year,
.population-age-range .current-year {
    position: absolute;
    right: 20%;
    top: 100px;
    z-index: 1;
    font-size: 20px;
}
.faq .accordion-button {
  font-size: 16px;
}

.population-age-range .current-year{
  top: 150px;
}

.pointer {
    cursor: pointer;
}

.dashboard .card-pop .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}
.dashboard .card-dep .card-icon, .dashboard .card-old-dep .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}
.dashboard .card-mig .card-icon {
  color: #ff771d;
  background: #ffecdf;
}

.population-dropdown, .migration-dropdown, .dependency-rate-dropdown,
.tooltip-population, .tooltip-migration, .tooltip-dependency{
  display: none;
}

.forecast-population .population-dropdown, .forecast-population .tooltip-population{
  display: inline-block;
}

.forecast-migration .migration-dropdown, .forecast-migration .tooltip-migration {
  display: inline-block;
}

.forecast-dependency .dependency-rate-dropdown, .forecast-dependency .tooltip-dependency {
  display: inline-block;
}

/* Loader */
body {
  margin: 0;
}
.loader {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);
}
.dot {
  width: 24px;
  height: 24px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}
.dot:nth-child(1) {
  animation-delay: 0.1s;
  background: #32aacc;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
  background: #64aacc;
}
.dot:nth-child(3) {
  animation-delay: 0.3s;
  background: #96aacc;
}
.dot:nth-child(4) {
  animation-delay: 0.4s;
  background: #c8aacc;
}
.dot:nth-child(5) {
  animation-delay: 0.5s;
  background: #faaacc;
}
@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

