.population-age-group .current-year,
.population-age-range .current-year {
    position: absolute;
    right: 20%;
    top: 100px;
    z-index: 1;
    font-size: 20px;
}
.faq .accordion-button {
  font-size: 16px;
}

.population-age-range .current-year{
  top: 150px;
}

.pointer {
    cursor: pointer;
}

.dashboard .card-pop .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}
.dashboard .card-dep .card-icon, .dashboard .card-old-dep .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}
.dashboard .card-mig .card-icon {
  color: #ff771d;
  background: #ffecdf;
}